/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    /*grid-template-rows: 2% 8% 25% 15% 30% 15% 5%;*/
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/*Header Start*/

header {
    display: flex;
    flex-direction: row;
    grid-row: 1;
    grid-column: 2;  
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

}

header h1{
    margin-top: 20px;
    grid-row: 1;
    float: left;
    font-size: 18px;
}

header nav{
    float: right;
    grid-row: 1;
}

header ul li{
    list-style-type: none;
    display: inline-block;
    padding: 0px 10px; 
    font-weight: bold;   
}

header ul li a{
    color:#6b7280;
    text-decoration: none;
}
header ul li a:hover{
    color: #5A67D8;
}
/*Header End*/

main {
    grid-column: 2;
}

/*Section 1*/

.overview-hero{
    display: flex;
    background-color: #e2e8f0;
}

.overview-hero img{
    margin-top: 30px;
    margin-left: 50px;
    width: 220px;
    height: 150px;
    float: left;
}

.overview-hero-text{
    margin-left: 300px;
    margin-right: 100px;
    padding: 30px;
}


/*Section End*/

/*Section 2*/

.learn-about h2{
    font-size: 24px;
    color: #48BB78;
}

.learn-about h3{
    font-size: 21px;
    color: #48BB78;
}

.cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.cards h3, p{
    padding: 10px;
}

.card{
    border-color: #E2E8F0;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0,0,0, 0.4);
    flex: 1;
}

.card img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}

/*Section End*/

/*Section 3*/

.testing {
    color: #ffffff;
    background-color: #4A5568;   
    margin-top: 40px;
    padding: 50px;
}

.testing .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 30px;
}

.testing-desciption{
    padding-right: 110px;
}

.cta a{
    float: right;
    margin-right: 80px;
    background-color: #48BB78;
    border-radius: 5px;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
}
/*Section End*/

/*Section 4*/

.stories .container{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.stories h2, a{
    color: #5A67D8;
}

.stories h3{
    font-size: 18px;
}

.stories a{
    font-weight: bold;
    text-decoration: none;
}

.stories img{
    margin-top: 30px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
}

.stories article div{
    margin-left: 275px;
}
/*Section End*/

/*Section 5*/

.newsletter{
    background-color: #48BB78;
    color: #ffffff;
}

.newsletter .container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 15px 0px 30px 0px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.newsletter .container h3{
    grid-row: 1;
    grid-column: 2;
    margin: 0px;    
}

.newsletter .container p{
    grid-row: 2;
    grid-column: 2;
    margin: 0px;
}

.newsletter .container form{
    display: flex;    
    grid-row: 3;
    grid-column: 2;
    margin: 0px;
    justify-content: center;
}

.newsletter .message{
    grid-row: 4;
    grid-column: 2;
}

#email{
     border-radius: 5px; 
     padding: 10px 160px 10px 15px; 
     border: none;
}

.newsletter .btn{
    background-color: #5A67D8;
    border-radius: 5px;
    color: #ffffff;
    padding: 10px 25px 10px 25px;
    margin-left: 10px;
    border: none;    
}

/*Section End*/

footer{
    grid-column: 2;
    background-color: #4A5568;
    color: #ffffff;
}

